.bodyFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  flex: 1;
}

.headerFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.title {
  flex: 1;
  margin-left: 15px;
}

.headerBuf {
  flex: 20;
}

CentralPanel {
  flex: 10
}

.gridPanel {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
}

.welcomeText {
  grid-column: 3;
}